<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Base</title>
    </head>
    <body>
        <h1>My Projects</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">You have no projects.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
