<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Detail</title>
    </head>
    <body>
        <main>
            <h2>Tasks:</h2>
            <p>
                <a href="{% url 'tasks:create_task' %}">Create a new task</a>
            </p>
        </main>
    </body>
</html>
